<!DOCTYPE html>
<html lang="en" ng-app="Angular_App">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Angular Code by Joseph</title>
  <link rel="stylesheet" href="./Angular_styles.css">


</head>

<!-- Angular Scripts -->


<body>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="">
    <p> Your Name:  <input type="text" ng-model="name"></p>
    <p ng-bind="name"></p><br>
    <p>{{name}}</p>
<div>
  <form ng-app="" name="myForm">
    Email:
    <input type="text" name="myAddress" ng-model="text" placeholder="example@">
    <span ng-show="myForm.myAddress.$error.email">Not a valid email address</span>
  </form>
</div>


</div>
<!--
<div ng.app="myApp" ng-controller="myCtrl">
  Name: <input type="text" ng-model="name">
</div>
-->
  <script src="./angular-jp.js"></script>
</body>

</html>
